Data/
.ipynb_checkpoints/
Baselines/Data_Generation/__pycache__/
Baselines/Data_Generation/logs/
Baselines/Data_Generation/Old_Implementation/


Baselines/training/classification/
Baselines/training/regression/


HSGNN/Data_Generation2/logs/
HSGNN/Data_Generation2/module_demographics/
HSGNN/Data_Generation2/SNF_Module/
HSGNN/Data_Generation2/X/


HSGNN/GNN_Models/logs/
